BOOT_LOADER_ARCH_CFLAGS=
BOOT_LOADER_ARCH_CPPFLAGS=
BOOT_LOADER_ARCH_LDFLAGS=
BOOT_LOADER_ARCH_LIBS=

BOOT_LOADER_ARCH_OBJS=\
$(BUILDDIR)/boot/$(ARCHDIR)/boot.o \
$(BUILDDIR)/boot/$(ARCHDIR)/cpu_check.o \
$(BUILDDIR)/boot/$(ARCHDIR)/screen.o \
$(BUILDDIR)/boot/$(ARCHDIR)/load_kernel.o

LINK_SCRIPT=$(ARCHDIR)/link.ld