---
WarningsAsErrors: "*"
FormatStyle: none
HeaderFilterRegex: .*
ExcludeHeaderFilterRegex: ".*ccpp/.*"
ExtraArgs: [-std=gnu++26, -fconstexpr-steps=10000000, -Wno-unknown-warning-option, -fsized-deallocation]
Checks: >
  -*,
  modernize-use-trailing-return-type
# bugprone-*,
# cert-*,
# concurrency-*,
# misc-*,
# modernize-*,
# performance-*,
# portability-*,
# readability-*,
# -bugprone-easily-swappable-parameters,
# -bugprone-reserved-identifier,-cert-dcl37-c,-cert-dcl51-cpp,
# -cert-dcl21-cpp,
# -cert-dcl58-cpp,
# -modernize-deprecated-headers,
# -modernize-use-trailing-return-type,
# -modernize-use-nodiscard,
# -modernize-use-noexcept,
# -misc-no-recursion,
# -misc-non-private-member-variables-in-classes,
# -misc-use-anonymous-namespace,
# -misc-include-cleaner,
# -performance-noexcept-move-constructor,
# -performance-no-int-to-ptr,
# -readability-identifier-length,
# -readability-magic-numbers,
# -readability-named-parameter,
# -readability-uppercase-literal-suffix,
CheckOptions:
  - key: bugprone-dangling-handle.HandleClasses
    value: "di::StringView;di::Span"
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: true
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: true
  - key: readability-function-cognitive-complexity.Threshold
    value: 60
