---
BasedOnStyle: WebKit
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 120
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceAfterTemplateKeyword: false
SpaceAfterCStyleCast: true
AlignTrailingComments: true
BreakBeforeInheritanceComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentPPDirectives: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  SplitEmptyFunction: false
IndentCaseLabels: true
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: LeftWithLastLine
BreakBeforeBinaryOperators: None
AlignOperands: Align
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
SpaceInEmptyBlock: false
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
RequiresClausePosition: OwnLine
IndentRequiresClause: false
QualifierAlignment: Custom
InsertBraces: true
MainIncludeChar: Any
IncludeBlocks: Regroup
MaxEmptyLinesToKeep: 1
IncludeCategories:
  - Regex: "^<.*>"
    Priority: 2
    SortPriority: 2
  - Regex: ".*"
    Priority: 3
    SortPriority: 3
QualifierOrder: ["constexpr", "static", "inline", "friend", "type", "const", "volatile"]
WhitespaceSensitiveMacros:
  [
    "IRIS_ARCH_INCLUDE",
    "DIUS_ARCH_PATH",
    "DIUS_PLATFORM_PATH",
    "DIUS_ARCH_PLATFORM_PATH",
    "__CCPP_ARCH_PATH",
    "__CCPP_PLATFORM_PATH",
    "__CCPP_ARCH_PLATFORM_PATH",
  ]
