---
BasedOnStyle: Webkit
IndentWidth: 4
---
Language: Cpp
AllowShortFunctionsOnASingleLine: true
ColumnLimit: 140
IncludeCategories:
  - Regex:           '^(<(kernel)/)'
    Priority:        3
  - Regex:           '<*>'
    Priority:        1
  - Regex:           '"*.h"'
    Priority:        4
  - Regex:           '*'
    Priority:        5
SpaceAfterTemplateKeyword: false
SpaceAfterCStyleCast: true
AlignEscapedNewlines: true
AlignTrailingComments: true
BreakBeforeInheritanceComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentPPDirectives: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  SplitEmptyFunction: false
DerivePointerAlignment: true
IndentCaseLabels: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: true
BreakBeforeBinaryOperators: None
AlignOperands: true
AlignAfterOpenBracket: true
AllowAllArgumentsOnNextLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes