---
BasedOnStyle: Webkit
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 120
IncludeCategories:
  - Regex: "<*>"
    Priority: 1
  - Regex: '"*.h"'
    Priority: 4
  - Regex: "*"
    Priority: 5
SpaceAfterTemplateKeyword: false
SpaceAfterCStyleCast: true
AlignTrailingComments: true
BreakBeforeInheritanceComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentPPDirectives: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  SplitEmptyFunction: false
IndentCaseLabels: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: true
BreakBeforeBinaryOperators: None
AlignOperands: true
AlignAfterOpenBracket: true
AllowAllArgumentsOnNextLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
SpaceInEmptyBlock: false
RequiresClausePosition: OwnLine
IndentRequiresClause: false
QualifierAlignment: Custom
QualifierOrder: ["constexpr", "static", "inline", "friend", "type", "const", "volatile"]
WhitespaceSensitiveMacros:
  [
    "IRIS_ARCH_INCLUDE",
    "DIUS_ARCH_PATH",
    "DIUS_PLATFORM_PATH",
    "DIUS_ARCH_PLATFORM_PATH",
    "__CCPP_ARCH_PATH",
    "__CCPP_PLATFORM_PATH",
    "__CCPP_ARCH_PLATFORM_PATH",
  ]
