use_flake
PATH_add cross/bin

# Hack to get completions in zsh
# This requires exporting the `FPATH` variable in your
# zshrc file.
if [[ ${SHELL##*/} == zsh ]]; then
    direnv_load ${SHELL} -c 'export FPATH; direnv dump'
    for command in ninja treefmt just cmake; do
        PREFIX="$(dirname $(realpath $(which $command)))/.."
        path_add FPATH "${PREFIX}/share/zsh/site-functions"
        path_add XDG_DATA_DIRS "${PREFIX}/share"
    done
fi
