{
    "tabWidth": 2,
    "printWidth": 120,
    "overrides": [
        {
            "files": ["*.json", ".prettierrc"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
