REGEX_GENERATED_FILES=\
$(ROOT)/libs/libc/regex/basic_token_type.h \
$(ROOT)/libs/libc/regex/generic_basic_parser_impl.cpp \
$(ROOT)/libs/libc/regex/generic_basic_parser.h

$(REGEX_GENERATED_FILES): $(PARSER)
	cd $(ROOT)/libs/libc/regex && $(PARSER)	basic.y 2>basic.info

$(BUILDDIR)/libs/libc/regex/generic_basic_parser.o : $(REGEX_GENERATED_FILES)