REGEX_GENERATED_FILES=\
$(ROOT)/libs/libc/regex/regex_token_type.h \
$(ROOT)/libs/libc/regex/generic_regex_parser_impl.cpp \
$(ROOT)/libs/libc/regex/generic_regex_parser.h \
$(ROOT)/libs/libc/regex/regex.info

REGEX_OBJS=\
$(BUILDDIR)/libs/libc/regex/regex_lexer.o \
$(BUILDDIR)/libs/libc/regex/regex_graph.o \
$(BUILDDIR)/libs/libc/regex/generic_regex_parser.o \
$(BUILDDIR)/libs/libc/regex/regcomp.o \
$(BUILDDIR)/libs/libc/regex/regerror.o \
$(BUILDDIR)/libs/libc/regex/regexec.o \
$(BUILDDIR)/libs/libc/regex/regfree.o

$(REGEX_GENERATED_FILES): $(PARSER)
	cd $(ROOT)/libs/libc/regex && $(PARSER)	regex.y 2>regex.info

$(REGEX_OBJS) : $(REGEX_GENERATED_FILES)