REGEX_GENERATED_FILES=\
$(ROOT)/libs/libc/regex/regex_token_type.h \
$(ROOT)/libs/libc/regex/generic_regex_parser_impl.cpp \
$(ROOT)/libs/libc/regex/generic_regex_parser.h

$(REGEX_GENERATED_FILES): $(PARSER)
	cd $(ROOT)/libs/libc/regex && $(PARSER)	regex.y 2>regex.info

$(BUILDDIR)/libs/libc/regex/generic_basic_parser.o : $(REGEX_GENERATED_FILES)