KERNEL_ARCH_CFLAGS=-mno-red-zone -mcmodel=large -mno-mmx -mno-sse -mno-sse2 -no-pie -fno-pic
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(BUILDDIR)/kernel/$(ARCHDIR)/irqs/handlers.o \
$(BUILDDIR)/kernel/$(ARCHDIR)/irqs/sys_calls.o \
$(BUILDDIR)/kernel/$(ARCHDIR)/mem/page.o \
$(BUILDDIR)/kernel/$(ARCHDIR)/proc/run_process.o \
$(BUILDDIR)/kernel/$(ARCHDIR)/proc/arch_process.o \
$(BUILDDIR)/kernel/$(ARCHDIR)/sched/arch_process_sched.o \
$(BUILDDIR)/kernel/$(HALDIR)/drivers/fdc.o \
$(BUILDDIR)/kernel/$(HALDIR)/drivers/keyboard.o \
$(BUILDDIR)/kernel/$(HALDIR)/drivers/pic_handler.o \
$(BUILDDIR)/kernel/$(HALDIR)/drivers/pic.o \
$(BUILDDIR)/kernel/$(HALDIR)/drivers/pit_handler.o \
$(BUILDDIR)/kernel/$(HALDIR)/drivers/pit.o \
$(BUILDDIR)/kernel/$(HALDIR)/drivers/serial.o \
$(BUILDDIR)/kernel/$(HALDIR)/drivers/vga.o \
$(BUILDDIR)/kernel/$(HALDIR)/gdt.o \
$(BUILDDIR)/kernel/$(HALDIR)/hal.o \
$(BUILDDIR)/kernel/$(HALDIR)/idt.o \
$(BUILDDIR)/kernel/$(HALDIR)/irqs.o \
$(BUILDDIR)/kernel/$(HALDIR)/output.o \
$(BUILDDIR)/kernel/$(HALDIR)/timer.o

LINK_SCRIPT=$(ARCHDIR)/link.ld