KERNEL_ARCH_CFLAGS=-mno-red-zone -mcmodel=large -mno-mmx -mno-sse -mno-sse2 -no-pie -fno-pic
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(BUILDDIR)/kernel/$(ARCHDIR)/display/dump_registers.o \
$(BUILDDIR)/kernel/$(ARCHDIR)/irqs/handlers.o \
$(BUILDDIR)/kernel/$(ARCHDIR)/mem/page.o \
$(BUILDDIR)/kernel/$(ARCHDIR)/proc/run_process.o \
$(BUILDDIR)/kernel/$(ARCHDIR)/proc/arch_process.o \
$(BUILDDIR)/kernel/$(HALDIR)/drivers/fdc.o \
$(BUILDDIR)/kernel/$(HALDIR)/drivers/pic_handler.o \
$(BUILDDIR)/kernel/$(HALDIR)/drivers/pic.o \
$(BUILDDIR)/kernel/$(HALDIR)/gdt.o \
$(BUILDDIR)/kernel/$(HALDIR)/hal.o \
$(BUILDDIR)/kernel/$(HALDIR)/idt.o \
$(BUILDDIR)/kernel/$(HALDIR)/irqs.o

LINK_SCRIPT=$(ARCHDIR)/link.ld