ARCH_CFLAGS=
ARCH_CPPFLAGS=
KERNEL_ARCH_CFLAGS=-mno-red-zone -mcmodel=large -mno-mmx -mno-sse -mno-sse2 -no-pie -fno-pic
KERNEL_ARCH_CPPFLAGS=

ARCH_FREEOBJS=
ARCH_HOSTEDOBJS=\
$(BUILDDIR)/libs/libc/$(ARCHDIR)/exit.o \
$(BUILDDIR)/libs/libc/$(ARCHDIR)/setjmp.o \
$(BUILDDIR)/libs/libc/$(ARCHDIR)/sys_calls.o \
$(BUILDDIR)/libs/libc/$(ARCHDIR)/syscall.o
ARCH_RAW_OBJS=\
$(BUILDDIR)/libs/libc/$(ARCHDIR)/crt0.o